@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-gray-900 text-gray-200 font-sans;
    min-height: 100vh;
  }

  ::selection {
    @apply bg-pink-600 text-white;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4;
  }
}

@layer utilities {
  .animate-delay-100 {
    animation-delay: 100ms;
  }
  
  .animate-delay-200 {
    animation-delay: 200ms;
  }
  
  .animate-delay-300 {
    animation-delay: 300ms;
  }
}